/* main styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkorchid;
    color: antiquewhite;
    margin: 0;

}

header {
    display: flex;
    padding: 5px;
    background-color: lavender;
    color: indigo;
    border-bottom: solid 1px #000;

}

header .header-title {
    display: inline-block;

}

header .header-menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #777;
    font-size: smaller;

}

main {
    flex: 1;

}

main #display-content {
    padding: 20px;
}

/* modal styles */
#modal-backdrop {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    
}

#modal-backdroup.visible {
    display: block;
}

.modal {
    display: none;
    position: absolute;
    padding: 10px;
    color: indigo;
    border: solid 1px #555;
    background-color: lavender;
    z-index: 99999;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.modal.visible {
    display: block;
}

.modal-content {
    width: 300px;
    height: 300px;
}

#edit-title {
    width: 300px;
}

#edit-content-text {
    width:100%;
    box-sizing: border-box;
}