body {
    font-family: "Libra Baskerville", serif;
    color: blanchedalmond;
    background-color: darkslategrey;
    margin: 0%;
}

header {
    background-color: antiquewhite;
    color:darkslateblue;
    text-align: left;
    font-weight: 800;
    width: 90%;
    margin: 0 auto;
    text-indent: 1em;
}

main {

    width: 90%;
    margin: 0 auto;
    background-color:teal;
}

section {
    padding: 1em;
}

h1 {
    padding-top: 1%;
    color: whitesmoke;
    background-color: palevioletred;
    text-align: center;
}

h2 {
    text-align: left;
    color: whitesmoke;
    background-color: palevioletred;
}

h3 {
    color: whitesmoke;
    background-color: palevioletred;
}


footer {
    background-color: palevioletred;
    color: antiquewhite;
    height: 2em;
    width: 90%;
    margin: 0 auto;
}

.photoBlock img {
    margin: 0 auto;
    height: 400px;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}



